* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.post{
    width: 90%;
    padding: 15px 10px;
    background: lightblue;
    border-radius: 20px;
    text-align: justify;
    margin: 10px;
    font-size: 18px;
    height: 100px;
}